html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    .container{
        max-width: 96rem;
        margin: auto;
    }
    a{
        color: black;
    }
}