#about{
    padding: 5rem 0;

    .container{
        display: flex;
        justify-content: space-between;
        .leftSide{
            display: flex;
            flex-direction: column;
            gap: 2.3rem;
            h2{
                font-size: 3rem;
            }
            p{
                font-weight: 500;
                font-size: 1.5rem;
                color: #aaa;
                a{
                    color: blue;
                }
            }
            .black{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                
                i{
                    color: black;
                    font-size: 5rem;
                }
                p{
                    color: black;
                }
            }
            button{
                font-size: 1.5rem;
                background-color: transparent;
                padding: 1.5rem;
                width: 20rem;
                border: 1ps solid black;
            }
            button:hover{
                background-color: black;
                color: white;
                border: none;
            }
        }
        .rightSide{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            .ImgBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 22rem;
                height: 22rem;
                background-color: whitesmoke;
                h3{
                    font-size: 2.5rem;
                }
                p{
                    color: #aaa;
                    font-style: italic;
                    font-size: 1.5rem;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}