#form{
    .container{
        padding: 9rem 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5.5rem;
        .LeftSide{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2{
                font-size: 3rem;
            }
            p{
                font-size: 1.6rem;
                color: #aaa;
                font-style: italic;
            }
            .inputs{
                margin-top: 1.5rem;
                display: flex;
                gap: 2rem;
                input{
                    width: 28rem;
                    padding: 0.8rem;
                    color: #aaa;
                    font-style: italic;
                    font-size: 1.2rem;

                }
                button{
                    padding: 1rem;
                    background-color: black;
                    border: none;
                    i{
                        color: white;
                        font-size: 1.5rem;
                    }
                }
                button:hover{
                    background-color: white;
                    border: 1px solid black;
                    i{
                        color: black;
            
                    }
                }
            }
        }
        .RightSide{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem 2rem;
            .info{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h4{
                    font-size: 1.6rem;
                    
                }
                p{
                    font-size: 1.2rem;
                    color: #aaa;
                }
            }
        }
    }
}